.nav-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(211, 211, 211) !important; */
}

.nav-element {
    /* margin-right: 0.8em; */
    color: black;
}

@media screen and (max-width:800px) {
    .nav-wrapper {
        background-color:rgb(246, 246, 246);
    }
}